/* Style for Odin form project */

/* TODO

- Place logo and name on image */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "logoFont";
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#page {
    display: flex;
}

#pizzaSlice {
    width: 40%;
    height: 100%;
    max-height: 900px;
}

#bodyContent {
    height: 100%;
    max-height: 900px;
}

#bodySectionOne {
    padding-top: 10rem;
    padding-right: 25vh;
    padding-left: 3rem;
    background-color: #f5f5f5;
}

.mainText {
    font-size: 1.5rem;
    font-weight: 500;
}

#sectionOneP {
    margin-bottom: 2rem;
}

#sectionOneClose {
    padding-bottom: 3.5rem;
}

#bodySectionTwo {
    padding-left: 3rem;
}

#sectionTwoHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #333333;
}

.formRow {
    display: flex;
    gap: 8vh;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 70vh;
}

label {
    font-size: .75rem;
    font-weight: 500;
    color: #333333;
}

input {
    font-size: .9rem;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: .3rem;
}

input:focus {
    border-color: #66afe9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

input:user-valid {
    border-color: #4CAF50;
}

input:user-invalid {
    border-color: red;
}

#bottomFormRow {
    padding-bottom: 2rem;
}

#bodySectionThree {
    background-color: #f5f5f5;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 16%;
}

button {
    margin-bottom: 2rem;
    padding: .75rem 2.5rem;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border-width: 0;
}

button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#closer {
    color: #333333
}

a {
    color: #596D48;
    font-weight: 700;
    text-decoration: none;
}