/* Style for Odin form project */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "logoFont";
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#page {
    display: flex;
}

#pizzaSlice {
    width: 40%;
    height: 100vh;
}

#bodySectionOne {
    padding-top: 10rem;
    padding-right: 25vh;
    padding-left: 3rem;
    background-color: #f0f0f0;
}

.mainText {
    font-size: 1.5rem;
    font-weight: 500;
}

#sectionOneP {
    margin-bottom: 2rem;
}

#sectionOneClose {
    padding-bottom: 3.5rem;
}

#bodySectionTwo {
    padding-left: 3rem;
}

#sectionTwoHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #333333;
}

.formRow {
    display: flex;
    gap: 8vh;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 70vh;
}

label {
    font-size: .75rem;
    font-weight: 500;
    color: #333333;
}

input {
    font-size: 1rem;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: .3rem;
}

#bottomFormRow {
    padding-bottom: 2rem;
}